<% @records.each do |record| %>
<tr>
  <td><%= record.service %></td>
  <td><%= record.flags %></td>
  <td><%= record.up %></td>
  <td><%= record.total %></td>
  <td>
    <% if record.disclosure == 1 %>
      <i class="fa fa-check text-navy"></i>
    <% end %>
  </td>
</tr>
<% end %>
