<% @records.each do |record| %>
<tr>
  <td><%= record.challenge %></td>
  <td><%= record.title %></td>
  <td><%= record.category %></td>
  <td><%= record.points %></td>
  <td><%= record.description %></td>
  <td><%= record.adjunto %></td>
</tr>
<% end %>
