<% provide(:title_header, 'Desafios') %>

<header class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-9">
    <h2>Desafios Disponibles</h2>
    <ol class="breadcrumb">
      <li>
        <%= link_to root_path do %>
          <%= fa_icon 'home', text: 'Inicio' %>
        <% end %>
      </li>
      <li class="active">Desafios</li>
    </ol>
  </div>
</header>

<section class="wrapper wrapper-content animated fadeInRight">
  <div class="panel">
    <div class="panel-body responsive-table">

      <table class="table table-hover">
        <thead>
          <tr>
            <th>Id Desafio</th>
            <th>Título</th>
            <th>Categoría</th>
            <th>Puntos</th>
            <th>Descripción</th>
            <th>Adjunto</th>
          </tr>
        </thead>

        <tbody>
          <%= render partial: 'panel_six', locals: { records: @records } %>
        </tbody>
      </table>

      <% if @records.empty? %>
        <p class="lead text-center"> Nada que mostrar por aquí </p>
      <% end %>

    </div>
  </div>
</section>
