<% provide(:title_header, 'Tabla Resumen') %>

<header class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-9">
    <h2>Tabla resumen de los servicios más explotados</h2>
    <ol class="breadcrumb">
      <li>
        <%= link_to root_path do %>
          <%= fa_icon 'home', text: 'Inicio' %>
        <% end %>
      </li>
      <li class="active">Tabla Resumen</li>
    </ol>
  </div>
</header>

<section class="wrapper wrapper-content animated fadeInRight">
  <div class="panel">
    <div class="panel-body responsive-table">

      <table class="table table-hover">
        <thead>
          <tr>
            <th>Id Servicio</th>
            <th>Flags Robados</th>
            <th>Levantados</th>
            <th>Total</th>
            <th>Emparchado</th>
            <th colspan="3"></th>
          </tr>
        </thead>

        <tbody>
          <%= render partial: 'panel_four', locals: { records: @records } %>
        </tbody>
      </table>

      <% if @records.empty? %>
        <p class="lead text-center"> Nada que mostrar por aquí </p>
      <% end %>

    </div>
  </div>
</section>
