<%= form_with(model: team, local: true, class: 'm-t') do |f| %>
  <%= f.fields_for :users, User.new do |captain_form| %>

    <%= captain_form.hidden_field :is_captain, value: true %>

    <div class="form-group">
      <%= captain_form.text_field :username, placeholder: 'Usuario', id: :user_username,
          class: 'form-control', required: true %>
    </div>

    <div class="form-group">
      <%= captain_form.text_field :first_name, placeholder: 'Nombre del capitán', id: :user_first_name,
          class: 'form-control', required: true %>
    </div>

    <div class="form-group">
      <%= captain_form.text_field :last_name, placeholder: 'Apellido del capitán', id: :user_last_name,
          class: 'form-control', required: true %>
    </div>

    <div class="form-group">
      <%= captain_form.email_field :email, placeholder: 'Email', class: 'form-control', required: true %>
    </div>

    <div class="form-group">
      <%= captain_form.password_field :password, placeholder: 'Clave', id: :user_password,
          class: 'form-control', required: true %>
    </div>

    <div class="form-group">
      <%= captain_form.password_field :password_confirmation, placeholder: 'Confirmación de clave', id: :user_password_confirmation,
          class: 'form-control', required: true %>
    </div>

  <% end %>

  <div class="form-group">
    <%= f.text_field :name, placeholder: 'Nombre del equipo', class: 'form-control', required: true %>
  </div>

  <div class="form-group">
    <%= f.text_field :organization, placeholder: 'Organización', class: 'form-control', required: true %>
  </div>

  <%= submit_tag 'Registar equipo',
    class: 'btn btn-primary block full-width m-b',
    data: { 'disable-with' => 'Iniciando...' } %>

  <p class="text-muted text-center"><small>Ya sos parte de un equipo?</small></p>

  <%= link_to 'Login', login_path, class: 'btn btn-sm btn-white btn-block' %>
<% end %>
