<%= form_with(model: team, local: true) do |f| %>
  <div class="row">
    <div class="col-md-8 col-md-offset-2">

      <fieldset class="form-group">
        <%= f.label :name %>
        <%= f.text_field :name, placeholder: 'Nombre', class: 'form-control', required: true %>
      </fieldset>

      <fieldset class="form-group">
        <%= f.label :organization %>
        <%= f.text_field :organization, placeholder: 'Organización', class: 'form-control', required: true %>
      </fieldset>

      <fieldset class="form-group">
        <%= f.label :token %>
        <%= f.text_field :token, placeholder: 'Token', class: 'form-control', disabled: true %>
      </fieldset>

      <fieldset class="form-group">
        <%= f.label :image, 'Logo' %>
        <%= f.file_field :image %>
        <br>
        <%= image_tag team.image.thumb('300x200#').url if team.image_stored? %>
      </fieldset>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <div class="form-group actions">
        <%= f.submit 'Guardar equipo', class: "btn btn-success", data:
          { 'disable-with' => 'Guardando...' } %>
          <%= link_to 'Volver', :back, class: "btn btn-default" %>
      </div>
    </div>
  </div>
<% end %>
