<table class="table table-hover">
  <thead>
    <tr>
      <th>Usuario</th>
      <th>Nombre</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% team.users.each do |member| %>
      <tr>
        <td><%= member.username %></td>
        <td><%= member.name %></td>
        <td>
          <% unless current_user == member %>
            <%= link_to 'Eliminar', delete_team_user_path(member), class: 'btn btn-xs btn-danger', method: :delete, data: { confirm: "¿Realmente desea eliminar del equipo al usuario #{member.name}?" } %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
