<tr>
  <td><%= team.name %></td>
  <td><%= team.organization %></td>
  <td><%= team.captain.email %></td>
  <td>
    <% unless team.is_approved? %>
      <%= link_to 'Aprobar', confirm_team_path(team), method: :put,  class: 'btn btn-xs btn-primary' %>
    <% else %>
      <%= link_to 'Eliminar', team, class: 'btn btn-xs btn-danger', method: :delete, data: { confirm: '¿Realmente desea eliminar el team' } %>
    <% end %>
  </td>
</tr>
