<%= form_with(model: team, local: true, url: recruit_user_teams_path, method: :post, class: 'm-t') do |f| %>
  <div class="form-group" data-original-title="" title="">
    <%= f.text_field :token, placeholder: 'Token de autorización', class: 'form-control', required: true %>
  </div>

  <%= submit_tag 'Verificar token',
    class: 'btn btn-primary block full-width m-b',
    data: { 'disable-with' => 'Verificando...' } %>

  <p class="text-muted text-center"><small>Ya sos parte de un equipo?</small></p>

  <%= link_to 'Login', login_path, class: 'btn btn-sm btn-white btn-block' %>
<% end %>
