<% provide(:title_header, 'Mi equipo')%>

<header class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-9">
    <h2>Mi equipo - <%= @team.name %></h2>
    <ol class="breadcrumb">
      <li>
        <%= link_to root_path do %>
          <%= fa_icon 'home', text: 'Inicio' %>
        <% end %>
      </li>
      <li class="active">Mi equipo</li>
    </ol>
  </div>
</header>

<section class="wrapper wrapper-content animated fadeInRight">
  <div class="row">
    <div class="col-md-6">
      <div class="panel">
        <div class="panel-heading">
          <h3 class="panel-title">Datos del equipo</h3>
        </div>
        <div class="panel-body">
          <%= render 'form_edit', team: @team %>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="panel">
        <div class="panel-heading">
          <h3 class="panel-title">Integrantes del equipo</h3>
        </div>
        <div class="panel-body responsive-table">
          <%= render 'members', team: @team %>
        </div>
      </div>
    </div>
  </div>
</section>
