<% provide(:title_header, 'Equipos') %>

<header class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-9">
    <h2>Equipos</h2>
    <ol class="breadcrumb">
      <li>
        <%= link_to root_path do %>
          <%= fa_icon 'home', text: 'Inicio' %>
        <% end %>
      </li>
      <li class="active">Equipos</li>
    </ol>
  </div>
</header>

<section class="wrapper wrapper-content animated fadeInRight">
  <div class="panel">
    <div class="panel-body responsive-table">

      <table class="table table-hover">
        <thead>
          <tr>
            <th>Nombre</th>
            <th>Organización</th>
            <th>Mail del capitán</th>
            <th colspan="3"></th>
          </tr>
        </thead>

        <tbody>
          <%= render @teams %>
        </tbody>
      </table>

      <%= paginate @teams, theme: 'twitter-bootstrap-4', pagination_class: "pagination-sm no-margin pull-right" %>

      <% if @teams.empty? %>
        <p class="lead text-center"> Nada que mostrar por aquí </p>
      <% end %>

    </div>
  </div>
</section>
