<% provide(:title_header, 'Nuevo equipo')%>
<% provide(:action_name, 'Registra tu equipo') %>
<section>
  <div class="row">
    <div class="col-md-12">
      <%= render 'form', team: @team %>
    </div>
  </div>
</section>
