<% provide(:title_header, 'Reclutamiento')%>
<% provide(:action_name, 'Unite a tu equipo') %>
<section>
  <div class="row">
    <div class="col-md-12">
      <div class="ibox-content">
        <h2 class="font-bold"><%= @team.name %></h2>

        <div class="row">
          <div class="col-lg-12">
            <%= render 'users/form' %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
