<% provide(:title_header, 'Reclutamiento')%>
<% provide(:action_name, 'Unite a tu equipo') %>
<section>
  <div class="row">
    <div class="col-md-12">
      <div class="ibox-content">
        <h2 class="font-bold">Reclutamiento</h2>
        <p>
          Ingresa el token de autorización provisto por tu capitán.
        </p>

        <div class="row">
          <div class="col-lg-12">
            <%= render 'token_form', team: Team.new %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
