<%= form_tag password_resets_path, :method => :post, class: 'm-t' do %>
  <div class="form-group">
    <%= email_field_tag :email, nil, class: 'form-control', placeholder: 'Email', required: true %>
  </div>

  <%= submit_tag 'Enviar nueva clave',
    class: 'btn btn-primary block full-width m-b',
    data: { 'disable-with' => 'Enviando...' } %>

<% end %>
