<%= form_with(model: user, local: true, url: password_reset_path(@token), method: :put, class: 'm-t') do |f| %>

  <div class="form-group">
    <%= f.email_field :email, placeholder: 'Email', class: 'form-control', disabled: true %>
  </div>

  <fieldset class="form-group">
   <%= f.password_field :password, placeholder: 'Clave', id: :user_password,
       class: 'form-control', required: true %>
  </fieldset>

  <fieldset class="form-group">
    <%= f.password_field :password_confirmation, placeholder: 'Confirmación de clave', id: :user_password_confirmation,
        class: 'form-control', required: true %>
  </fieldset>

  <%= submit_tag 'Cambiar clave',
    class: 'btn btn-primary block full-width m-b',
    data: { 'disable-with' => 'Cambiando clave...' } %>

  <p class="text-muted text-center"><small>Ya sos parte de un equipo?</small></p>

  <%= link_to 'Login', login_path, class: 'btn btn-sm btn-white btn-block' %>
<% end %>
