<% provide(:title_header, 'Cambiar mi clave') %>
<% provide(:action_name, 'Recupero de clave') %>

<div class="row">
  <div class="col-md-12">
    <div class="ibox-content">

      <h2 class="font-bold">Cambiar mi clave</h2>

      <div class="row">

        <div class="col-lg-12">
          <%= render 'reset_password_form', user: @user %>
        </div>
      </div>
    </div>
  </div>
</div>
