<% provide(:title_header, 'Olvidé mi clave') %>
<% provide(:action_name, 'Recuperación de clave') %>

<div class="row">
  <div class="col-md-12">
    <div class="ibox-content">

      <h2 class="font-bold">Olvidé mi clave</h2>

        <p>
          Ingresa tu dirección de email y te enviaremos las instrucciones para recuperar tu clave.
        </p>

      <div class="row">

        <div class="col-lg-12">
          <%= render 'form'%>
        </div>
      </div>
    </div>
  </div>
</div>
