<%= form_with(model: page_configuration, local: true) do |f| %>
  <div class="row">
    <div class="col-md-6 col-md-offset-3">

      <fieldset class="form-group">
        <%= f.label :name %>
        <%= f.text_field :name, placeholder: 'Nombre', class: 'form-control', disabled: true %>
      </fieldset>

      <fieldset class="form-group">
        <%= f.label :first_name %>
        <%= f.text_field :value, placeholder: 'Valor', class: 'form-control', required: true %>
      </fieldset>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <div class="form-group actions">
        <%= f.submit 'Guardar configuración', class: "btn btn-success", data:
          { 'disable-with' => 'Guardando...' } %>
          <%= link_to 'Volver', :back, class: "btn btn-default" %>
      </div>
    </div>
  </div>
<% end %>
