<tr>
  <td><%= page_configuration.name %></td>
  <td><%= page_configuration.value %></td>
  <td>
    <%= link_to 'Editar', edit_page_configuration_path(page_configuration), class: 'btn btn-xs btn-primary' %>
  </td>
</tr>
