<% provide(:title_header, 'Editar configuración')%>

<header class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-9">
    <h2>Editar configuración</h2>
    <ol class="breadcrumb">
      <li>
        <%= link_to root_path do %>
          <%= fa_icon 'home', text: 'Inicio' %>
          <% end %>
      </li>
      <li>
        <%= link_to users_path do %>
          <%= fa_icon 'cog', text: 'Configuración' %>
          <% end %>
      </li>
      <li class="active">Editar configuración</li>
    </ol>
  </div>
</header>

<section class="wrapper wrapper-content animated fadeInRight">
  <div class="panel">
    <div class="panel-body">
      <%= render 'form', page_configuration: @page_configuration %>
    </div>
  </div>
</section>
