<%= form_with(model: User.new, local: true, class: 'm-t') do |f| %>
  <%= f.hidden_field :team_id, value: @team.id %>

  <div class="form-group">
    <%= f.text_field :username, placeholder: 'Usuario', id: :user_username,
        class: 'form-control', required: true %>
  </div>

  <fieldset class="form-group">
    <%= f.text_field :first_name, placeholder: 'Nombre', id: :user_first_name,
        class: 'form-control', required: true %>
  </fieldset>

  <fieldset class="form-group">
    <%= f.text_field :last_name, placeholder: 'Apellido', id: :user_last_name,
        class: 'form-control', required: true %>
  </fieldset>

  <div class="form-group">
    <%= f.email_field :email, placeholder: 'Email', class: 'form-control', required: true %>
  </div>

  <fieldset class="form-group">
   <%= f.password_field :password, placeholder: 'Clave', id: :user_password,
       class: 'form-control', required: true %>
  </fieldset>

  <fieldset class="form-group">
    <%= f.password_field :password_confirmation, placeholder: 'Confirmación de clave', id: :user_password_confirmation,
        class: 'form-control', required: true %>
  </fieldset>

  <%= submit_tag 'Unirse',
    class: 'btn btn-primary block full-width m-b',
    data: { 'disable-with' => 'Reclutando...' } %>

  <p class="text-muted text-center"><small>Ya sos parte de un equipo?</small></p>

  <%= link_to 'Login', login_path, class: 'btn btn-sm btn-white btn-block' %>
<% end %>
