<%= form_with(model: user, local: true) do |f| %>
  <div class="row">
    <div class="col-md-6 col-md-offset-3">

      <fieldset class="form-group">
        <%= f.label :username %>
        <%= f.text_field :username, placeholder: 'Nombre', class: 'form-control', disabled: true %>
      </fieldset>

      <fieldset class="form-group">
        <%= f.label :first_name %>
        <%= f.text_field :first_name, placeholder: 'Nombre', class: 'form-control', required: true %>
      </fieldset>

      <fieldset class="form-group">
        <%= f.label :last_name %>
        <%= f.text_field :last_name, placeholder: 'Apellido', class: 'form-control', required: true %>
      </fieldset>

      <fieldset class="form-group">
        <%= f.label :email %>
        <%= f.email_field :email, placeholder: 'Email', class: 'form-control', required: true %>
      </fieldset>

      <fieldset class="form-group">
        <%= f.label :password %><br />
        <%= f.password_field :password, placeholder: 'Clave', class: 'form-control' %>
      </fieldset>

      <fieldset class="form-group">
        <%= f.label :password_confirmation %><br />
        <%= f.password_field :password_confirmation, placeholder: 'Confirmación de clave', class: 'form-control' %>
      </fieldset>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <div class="form-group actions">
        <%= f.submit 'Guardar usuario', class: "btn btn-success", data:
          { 'disable-with' => 'Guardando...' } %>
          <%= link_to 'Volver', :back, class: "btn btn-default" %>
      </div>
    </div>
  </div>
<% end %>
