<tr>
  <td><%= user.username %></td>
  <td><%= user.first_name %></td>
  <td><%= user.last_name %></td>
  <td><%= user.email %></td>
  <td>
    <%= link_to 'Editar', edit_user_path(user), class: 'btn btn-xs btn-primary' %>
    <%= link_to 'Eliminar', user, class: 'btn btn-xs btn-danger', method: :delete, data: { confirm: '¿Realmente desea eliminar el user' } %>
  </td>
</tr>
