<% provide(:title_header, 'Editar usuario')%>

<header class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-9">
    <h2>Editar usuario</h2>
    <ol class="breadcrumb">
      <li>
        <%= link_to root_path do %>
          <%= fa_icon 'home', text: 'Inicio' %>
          <% end %>
      </li>
      <li>
        <%= link_to users_path do %>
          <%= fa_icon 'users', text: 'Usuarios' %>
          <% end %>
      </li>
      <li class="active">Editar usuario</li>
    </ol>
  </div>
</header>

<section class="wrapper wrapper-content animated fadeInRight">
  <div class="panel">
    <div class="panel-body">
      <%= render 'form_edit', user: @user %>
    </div>
  </div>
</section>
