<% provide(:title_header, 'Usuarios') %>

<header class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-9">
    <h2>Usuarios</h2>
    <ol class="breadcrumb">
      <li>
        <%= link_to root_path do %>
          <%= fa_icon 'home', text: 'Inicio' %>
          <% end %>
      </li>
      <li class="active">Usuarios</li>
    </ol>
  </div>
</header>

<section class="wrapper wrapper-content animated fadeInRight">
  <div class="panel">
    <div class="panel-body responsive-table">

      <table class="table table-hover">
        <thead>
          <tr>
            <th>Usuario</th>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Email</th>
            <th></th>
          </tr>
        </thead>

        <tbody>
          <%= render @users %>
        </tbody>
      </table>

      <%# paginate @users, theme: 'twitter-bootstrap-4', pagination_class: "pagination-sm no-margin pull-right" %>

      <% if @users.empty? %>
        <p class="lead text-center"> Nada que mostrar por aquí </p>
      <% end %>

    </div>
  </div>
</section>
