<h1>Hola, <%= @team.captain.name %></h1>

<p>Tu equipo <%= @team.name %> fue aprobado. </p>

<p>Se le ha asignado el siguiente token de autorización con el cual podrán enrolarse a su equipo: <b><%= @team.token %></b>.</p>

<p>Que tengas un gran día!</p>
