.panel {
  position: relative;
  .panel-main-action {
    z-index: 2;
    position: absolute;
    top: 27px;
    right: 20px;
    min-width: 50px;
    min-height: 50px;
    line-height: 36px;
    font-size: 1.2em;
  }
}

.btn.btn-rounded {
  border-radius: 64px;
}

.btn-filter {
  margin-top: 2.2%;
}

#toast-container > .toast-error,
#toast-container > .toast-success,
#toast-container > .toast-warning,
#toast-container > .toast-info {
  background-image: none !important;
}

input[type=time]::-webkit-datetime-edit-ampm-field {
  // display: none;
}

@media (max-width: 767px) {
  .panel .panel-main-action {
      position: fixed;
      bottom: 10px;
      right: 20px;
      top: inherit;
      min-width: 40px;
      min-height: 30px;
      line-height: 26px;
      font-size: 1em;
    }
}
