<nav class="navbar-default navbar-static-side" role="navigation">
  <div class="sidebar-collapse">
    <ul class="nav metismenu" id="side-menu">
      <li class="nav-header">
        <span class="logo-mini"><b>CTF</b></span>
        <span class="logo-lg"><b>CTF Distribuidos</b></span>
      </li>
      <%= side_link text: 'Inicio', path: root_path, icon_class: 'home' %>

      <% if current_user.admin? %>
        <%= side_link text: 'Usuarios', path: users_path, icon_class: 'users' %>
        <%= side_link text: 'Equipos', path: teams_path, icon_class: 'shield' %>
        <%= side_link text: 'Configuración', path: page_configurations_path, icon_class: 'cog' %>
      <% end %>

      <% if current_user.is_captain? %>
        <%= side_link text: 'Mi equipo', path: edit_team_path(current_user.team), icon_class: 'shield' %>
      <% end %>

      <%= side_link text: 'Tabla de Puntajes', path: panel_one_path, icon_class: 'trophy' %>
      <%= side_link text: 'Mis Servicios', path: panel_two_path, icon_class: 'child' %>
      <%= side_link text: 'Servicios', path: panel_three_path, icon_class: 'list' %>
      <%= side_link text: 'Más Explotados', path: panel_four_path, icon_class: 'bomb' %>
      <%= side_link text: 'Puntajes del Equipo', path: panel_five_path, icon_class: 'flag' %>
      <%= side_link text: 'Desafios Disponibles', path: panel_six_path, icon_class: 'fire' %>
      <%#= side_link text: 'Puntuaciones', path: panel_six_path, icon_class: 'trophy' %>
    </ul>
  </div>
</nav>
