<div class="row border-bottom">
  <nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0">
    <div class="navbar-header">
      <a class="navbar-minimalize minimalize-styl-2 btn btn-primary" href="#">
        <i class="fa fa-bars"></i>
      </a>
    </div>
    <% if logged_in? %>
      <ul class="nav navbar-top-links navbar-right">

        <li class="dropdown">
          <a data-toggle="dropdown" class="dropdown-toggle" href="#">
            <%= current_user.username %>
            </span><b class="caret"></b>
            </span>
          </a>
          <ul class="dropdown-menu animated fadeInRight m-t-xs">
            <li>
              <%= link_to 'Editar perfil', edit_user_path(current_user) %>
            </li>
            <li class="divider"></li>
            <li>
              <%= link_to 'Cerrar sesión', :logout, method: :post %>
            </li>
          </ul>
        </li>
      </ul>
    <% end %>
  </nav>
</div>
