<%= form_tag user_sessions_path, method: :post do %>
  <fieldset class="form-group">
    <%= text_field_tag :username, nil, autofocus: true, autocomplete: :off,
          placeholder: 'Usuario', class: 'form-control', required: true %>
  </fieldset>

  <fieldset class="form-group">
    <%= password_field_tag :password, nil, placeholder: 'Contraseña',
      class: 'form-control', required: true %>
  </fieldset>

  <%= submit_tag 'Iniciar sesión',
    class: 'btn btn-primary block full-width m-b',
    data: { 'disable-with' => 'Iniciando...' } %>

  <%= link_to new_password_reset_path do %>
    <small>Olvidó la clave?</small>
  <% end %>
  <p class="text-muted text-center"><small>No tenes equipo?</small></p>
  <%= link_to 'Crear un equipo', new_team_path, class: 'btn btn-sm btn-white btn-block' %>
  <%= link_to 'Unite a un equipo', recruit_teams_path, class: 'btn btn-sm btn-white btn-block' %>
<% end %>
