<% provide(:title_header, 'Inicio de sesión') %>
<% provide(:action_name, 'Inicia sesión') %>
<section>
  <div class="row">
    <div class="col-md-12">
      <%= render 'form' %>
    </div>
  </div>
</section>
