<!DOCTYPE html>
<html>
  <head>
    <title> <%= full_title yield(:title_header) %> </title>
    <%= render 'application/head' %>
  </head>
  <body class="gray-bg">
    <div class="middle-box text-center loginscreen animated fadeInDown">
      <h3> <strong> TRABAJO FINAL - DSA </strong> </h3>
      <div class="login-box-body">
        <p><%= yield(:action_name) %></p>
        <%= yield %>
        <%= flash_messages if flash %>
      </div>
    </div>
  </body>
</html>
